@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
html {
    background-color: #F5F5F5;
   
}

/*1 rem 16 px*/

.container-header, .container-main, .container-footer, .container-sobre-mi{

    font-family: 'Raleway', sans-serif;
    color:#464646;  
}


.container-header {

    width: 65%;
    max-width: 1920px;
    margin: 0 auto;
    margin-top: 1rem;
    padding: 1rem;
    display: flex;
    align-items: center;    
}

.menu-principal {

    margin-left:auto;
    display:flex;
    gap:1rem;
 }

.nombre::before {
     
    font-weight: 500;
    content: "Laureano Neyén Chaves";
}

.nombre-header {

    display:flex;
    align-items: center;
    gap:0.5rem;
}

.nombre {
    
    font-size:1rem;
}

.nav-text {

    text-decoration: none;
    font-weight: 500;
    
}



.nav-text:visited {

    color:#464646;

}

.container-main, .seccion-sobre-mi {

    width: 65%;
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    flex-flow:column wrap;
        
}

.container-titulo {
    display:flex;
    margin: 3rem auto;
    align-items: center;
    justify-content:center;
     
}

.container-titulo h1 {

    font-size:3.25rem;
    line-height:3.815625rem;
    font-weight: 800;

}

.foto-perfil {

    width: 20rem;
    height: 20rem;
    border-radius:20rem;

    }

.parrafo-perfil {

    font-size: 1.375rem;
    line-height: 1.614375rem;
    font-weight: 400;

}

.container-redes {

    display:flex;
    gap:1rem;
}

.container-descripcion {

    display:flex;
    flex-direction: column;
    gap:2.5rem;
}


.container-sobre-mi {

    padding:4rem;
    background-color: #EAF2FD;
}

.subtitulo {

    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.biografia {

    line-height: 1.17375rem;
}

    


