@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
html {
    background-color: #F5F5F5;
   
}

/*1 rem 16 px*/

.container-header, .container-main, .container-footer, .container-sobre-mi, .container-skills, .container-hobbies, .container-formacion, .container-proyectos, .container-contacto{

    font-family: 'Raleway', sans-serif;
    color:#464646;  
}

.sticky {
    position: fixed;
    top: 0;
    background-color: #F5F5F5;
    width: 100%
}

.container-header {

    width: 65%;
    max-width: 1920px;
    margin: 0 auto;
    margin-top: 1rem;
    padding: 1rem;
    display: flex;
    align-items: center;    
}

.menu-principal {

    margin-left:auto;
    display:flex;
    gap:1rem;
 }

.nombre::before {
     
    font-weight: 500;
    content: "Laureano Neyén Chaves";
}

.nombre-header {

    display:flex;
    align-items: center;
    gap:0.5rem;
}

.nombre {
    
    font-size:1rem;
}

.nav-text {

    text-decoration: none;
    font-weight: 500;
    color:#464646;
    
}



.nav-text:visited {

    color:#464646;

}

.container-main, .seccion-sobre-mi, .container-skills, .container-hobbies, .seccion-formacion, .container-proyectos, .container-footer {

    width: 65%;
    max-width: 1920px;
    margin: 0 auto;
    margin-top: 2rem;;
    display: flex;
    flex-flow:column wrap;
        
}

.container-titulo {
    display:flex;
    margin: 3rem auto;
    align-items: center;
    justify-content:center;
     
}

.container-titulo h1 {

    font-size:3.25rem;
    line-height:3.815625rem;
    font-weight: 800;

}

.foto-perfil {

    width: 20rem;
    height: 20rem;
    border-radius:20rem;

    }

.parrafo-perfil {

    font-size: 1.375rem;
    line-height: 1.614375rem;
    font-weight: 400;

}

.container-redes {

    display:flex;
    gap:1rem;
}

.container-descripcion {

    display:flex;
    flex-direction: column;
    gap:2.5rem;
}


.container-sobre-mi {

    padding:4rem 0;
    background-color: #EAF2FD;
}

.subtitulo {

    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.subtitulo2 {

    font-weight: 700;
    font-size: 1.7rem;
    margin-bottom: 1rem;
}
.subtitulo i {


    margin-left:0.7rem;
}

.biografia {

    line-height: 1.17375rem;
}

.conjunto-skills, .conjunto-hobbies {

    display:flex;
    gap:1rem;

} 

.container-skills .subtitulo, .container-hobbies .subtitulo, .container-formacion .subtitulo, .container-proyectos .subtitulo {

    text-align: center;
    padding:2rem;
    margin: 0;

}
.cuadrado{
 
    background-color:white;
    flex-basis:50%;
    padding: 1rem 0;
    font-size:4rem;
    color: #2A7AE4;
    text-align:center;
    border-radius: 1rem;

}

.cuadrado-descripcion {

    font-size:1rem;
    color:#464646;
    font-weight: 700;
    margin: 0.5rem 0;
    
}

.container-formacion {

   
    background-color: #EAF2FD;
    padding:2rem 0;
    margin-top: 3rem;
    
}

.conjunto-formacion {

    display: flex;
    flex-flow: 1 0;
    gap:1rem;
}

.logo {
    
    width:12rem;
    height:8.125rem;
}

.cuadrado-texto {

    flex-basis:50%;
}

.imagen-proyecto {

    width:47rem;
    height: 25.375rem;

}

.conjunto-imagen-botones {

    display:flex;
    gap:1rem;
    align-items: center;
    padding: 2rem 0;
    
}

.conjunto-titulo-descripcion-botones {

    display:flex;
    flex-direction: column;
    margin:auto;
    
    
}

.subtitulo2 {

    flex-basis: 100%;
}

.descripcion-subtitulo2 {

    margin-bottom:1.7rem;
}

.boton-repositorio {

    cursor:pointer;
    border: solid 0.15rem #2a7ae4;
    padding:0.6rem;
    font-size:1.4rem;
    color:#2A7AE4;
    text-decoration: none;
   
}

.boton-ver, .boton-enviar {

    cursor:pointer;
    border: solid 0.15rem #2a7ae4;
    padding:0.6rem;
    font-size:1.4rem;
    color:whitesmoke;
    background-color:#2A7AE4;
    text-decoration: none;
}

.boton-ver:hover, .boton-enviar:hover {


    color:whitesmoke;
    background-color:#372AE4;
    border-color: #372AE4;
    
}

.boton-repositorio:hover {

    border-color: #372AE4;
    color:#372AE4;

}



.conjunto-botones {

    display: flex;
   
    gap:1rem;
    flex-wrap: wrap;
}

.fondo-formulario-contacto {

    padding: 7rem 0 4rem 0;
    background-color:#EAF2FD;
}

.imagen-formulario {

    width:29rem;
    height:37.0625rem;
}

.container-contacto {

    width: 65%;
    max-width: 1920px;
    margin: 0 auto;
    margin-top: 2rem;;
    display: flex;
    gap:1rem;
    
}

.conjunto-formulario {

    margin: 0 auto;
}

.grupo-form {

display:flex;
flex-direction:column;
background-color:white;
margin:1rem 0;
border-radius:0.5rem;

}

.label {

    font-size:0.7rem;
    padding: 0.5rem; 
}

.input-form {

   font-size:1.25rem;
   padding: 0.5rem 0.5rem;
   border:none;
   border-bottom: solid 0.15rem grey;
   outline:none;
   font-family: 'Raleway', sans-serif;
   color:black; 
 
}

.input-form:focus {

    border-color: #2A7AE4;
}

.mensaje-form {

    outline:none;
    border: none;
    border-bottom: solid 0.15rem grey;
    height:8rem;
    padding: 0.5rem 0.5rem;
    font-family: 'Raleway', sans-serif;
    font-size: 1.15rem;
    color:black;  
    resize: none;
    
}

.mensaje-form:focus {

   border-color: #2A7AE4;
   
}




.fondo-footer {

    padding:2rem 2rem 3rem 2rem;
    background-color: white;
}
.footer-text {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color:#464646;
    font-size: 1.15rem;
    font-weight: 500;
    font-size: 1.5rem;
   
}

@media (min-width:500px) and (max-width:900px) {

       

    html {
                    font-size:0.65rem;
    }

    .container-main, .container-boton{

    width: 60%;
    }

}

@media (max-width: 500px) {

    html {
                    font-size: 60%;

    }

    .container-main, .container-boton{

    width: 60%;
    }
}